apiVersion: apps/v1
kind: Deployment
metadata:
  name: iluminara-core
spec:
  replicas: 3
  template:
    spec:
      containers:
        - name: core
          image: iluminara/core:v2
          resources:
            limits:
              nvidia.com/gpu: 1